@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../fonts/Aeonik-Bold.otf');
    font-weight: 700;
}